XmlToJsonProject/src/getServiceAvailabilityResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://cingular.com/base/interfaces/getServiceAvailabilityResponse.xsd" xmlns:cng="http://cingular.com/base/DataModel.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cingular.com/base/interfaces/getServiceAvailabilityResponse.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.2">
	<xs:import namespace="http://cingular.com/base/DataModel.xsd" schemaLocation="BASEDataModel.xsd"/>
	<xs:element name="getServiceAvailabilityResponse">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OpportunityId" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Rome Opportunity Id: This will be send only if SA Check is a success </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SiteDetails" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SiteDetail" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SiteId" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="15"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LocationName" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NPANXX" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Override" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Y/N</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="City" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="State" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Address1" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Address2" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Zip" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
<xs:element name="ZipExt" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Country" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ISO country code, e.g.
“US”</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PortConnectionType" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PortCIR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LataCode" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LataName" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="IPAGInLata" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="eMUXCLLI" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LocationCLLI" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ATTICOSWCClli" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InRegionIndicator" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Y/N</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!--Start Glen Added for R1507 Project 280805-->
										<xs:element name="ENNIindicator" minOccurs="0">
<xs:annotation>
												<xs:documentation>Added for R1507 Project 280805</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SWCMaxBandWidth" minOccurs="0">
<xs:annotation>
												<xs:documentation>Added for R1507 Project 280805</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EthernetServiceProvider" minOccurs="0">
<xs:annotation>
												<xs:documentation>Added for R1507 Project 280805</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ENNIclsID" minOccurs="0">
<xs:annotation>
												<xs:documentation>Added for R1507 Project 280805</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!--End Glen Added for R1507 Project 280805-->
										<xs:element name="IPAGCLLI" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TA5KIPAGCLLI" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for R1507 Project 271236a</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FiberAvailability" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Y/N</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FiberConstruction" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Y/N</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CopperAvailability" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Y/N</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ADTRANCLLI" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NumOfCuRepeaters" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for R1507 Project 271236a</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RemoteTerminal" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for R1507 Project 271236a Valid Values CO/RT/NA</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ReqBandwidthPairs" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!--Start Removal of MaxBandwidthPairs element with Project 271236a
										<xs:element name="MaxBandwidthPairs" minOccurs="0">
										<xs:element name="MaxBandwidthPairs" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>-->
										<xs:element name="LoopLength" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AdditionalIPAGCLLI" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Gauge" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SWCStatus" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ICOCompanyName" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="HouseNumberPrefix" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="HouseNumber" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="15"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="HouseNumberSuffix" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="StreetDirection" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="StreetName" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="StreetThoroughfare" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="15"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="StreetNameSuffix" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BroadbandInfoDetails" minOccurs="0">
											<xs:annotation>
												<xs:documentation>R1406 261565</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BroadbandInfoDetail" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SpeedTier" type="xs:string"/>
																<xs:element name="NTI" type="xs:string"/>
																<xs:element name="Frequecy17mhzIND">
																	<xs:annotation>
																		<xs:documentation>R1410 261565e CR 104725, Valid Vaues Y\N </xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="VectoringIND">
																	<xs:annotation>
																		<xs:documentation>R1410 261565e CR 104725, Valid Vaues Y\N</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Building" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Floor" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Room" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
<xs:element name="ThreePADetails" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="status" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="BandwidthData" minOccurs="0" maxOccurs="500">
														<xs:complexType>
															<xs:sequence minOccurs="0">
																<xs:element name="downStreamSpeed" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="30"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="upStreamSpeed" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="30"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="AccessArchitectureData" minOccurs="0" maxOccurs="3">
																	<xs:complexType>
																		<xs:sequence minOccurs="0">
																			<xs:element name="accessArchitecture" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="30"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="PhysicalInterfaceData" minOccurs="0" maxOccurs="10">
																				<xs:complexType>
																					<xs:sequence minOccurs="0">
																						<xs:element name="physicalInterfaceType" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="30"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="PhysicalInterfaceName" minOccurs="0" maxOccurs="50">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="50"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="EthernetVendorList" minOccurs="0" maxOccurs="100">
																	<xs:complexType>
																		<xs:sequence minOccurs="0">
																			<xs:element name="vendorName" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="50"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="custLatitude" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="custLongitude" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="hCoordinate" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="15"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="vCoordinate" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="15"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="matchStatus" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="matchLevel" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="matchScore" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="IlecVendor" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Locator" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="requestTime" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="acceptAddrTime" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="responseTime" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="matchIndicator" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="standardAddress" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="200"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="userReqStreetAddress" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="userReqCity" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="userReqState" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="userReqZip" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="userReqCountry" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="userReqRoom" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="userReqFloor" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="userReqBuilding" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Added for 302129 oct,18 Rel.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
